<% if resource.errors.any? %>
  <div class="alert alert-danger">
    <strong>
      入力内容に誤りがあります
    </strong>
    <ul class="mb-0">
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message.gsub(/\A.+? /, "") %></li>
      <% end %>
    </ul>
  </div>
<% end %>

