<div class="card mb-4">
  <div class="card-body">
    <h4 class="fw-bold mb-3">いいねした投稿</h4>

    <% if likes.present? %>
      <% likes.each do |like| %>
        <% post = like.post %>
        <div class="mb-3 border-bottom pb-2">
          <h5><%= link_to post.title, post_path(post) %></h5>
          <p class="text-muted small">評価：<%= post.rate %> ★</p>
        </div>
      <% end %>
    <% else %>
      <p class="text-muted">まだいいねした投稿はありません。</p>
    <% end %>

  </div>
</div>
