<% if @results.present? %>
  <% @results.each do |result| %>
    <%= render "searches/#{@model}_result", result: result %>
  <% end %>
<% else %>
  <div class="alert alert-warning text-center">
    検索結果が見つかりませんでした
  </div>
<% end %>